@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --background: #000000;
  --foreground: #EEEEEE;
  --card: #000000;
  --card-foreground: #EEEEEE;
  --popover: #000000;
  --popover-foreground: #EEEEEE;
  --primary: #4E4FEB;
  --primary-foreground: #EEEEEE;
  --secondary: #068FFF;
  --secondary-foreground: #000000;
  --muted: #1a1a1a;
  --muted-foreground: #068FFF;
  --accent: #068FFF;
  --accent-foreground: #000000;
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: #4E4FEB;
  --input: #4E4FEB;
  --ring: #068FFF;
  --chart-1: #4E4FEB;
  --chart-2: #068FFF;
  --chart-3: #EEEEEE;
  --chart-4: #000000;
  --chart-5: #4E4FEB;
  --radius: 0.625rem;
  --sidebar: #000000;
  --sidebar-foreground: #EEEEEE;
  --sidebar-primary: #4E4FEB;
  --sidebar-primary-foreground: #EEEEEE;
  --sidebar-accent: #068FFF;
  --sidebar-accent-foreground: #000000;
  --sidebar-border: #4E4FEB;
  --sidebar-ring: #068FFF;
}

.dark {
  --background: #000000;
  --foreground: #EEEEEE;
  --card: #000000;
  --card-foreground: #EEEEEE;
  --popover: #000000;
  --popover-foreground: #EEEEEE;
  --primary: #4E4FEB;
  --primary-foreground: #EEEEEE;
  --secondary: #068FFF;
  --secondary-foreground: #000000;
  --muted: #1a1a1a;
  --muted-foreground: #068FFF;
  --accent: #068FFF;
  --accent-foreground: #000000;
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: #4E4FEB;
  --input: #4E4FEB;
  --ring: #068FFF;
  --chart-1: #4E4FEB;
  --chart-2: #068FFF;
  --chart-3: #EEEEEE;
  --chart-4: #000000;
  --chart-5: #4E4FEB;
  --sidebar: #000000;
  --sidebar-foreground: #EEEEEE;
  --sidebar-primary: #4E4FEB;
  --sidebar-primary-foreground: #EEEEEE;
  --sidebar-accent: #068FFF;
  --sidebar-accent-foreground: #000000;
  --sidebar-border: #4E4FEB;
  --sidebar-ring: #068FFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
